@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  width: 86%;
  margin: 0 auto;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*=================================
  main styling starts here
=================================*/
h1 {
  padding: 55px 0px;
  color: #3bbec4;
  font-size: 73px;
  font-weight: 900;
  text-align: center;
}

h2 {
  margin: 12px 0px;
  font-size: 33px;
  color: #3bbec4;
}

.up .wrapper {
  position: relative;
  z-index: 2;
}

.wrapper {
  width: 100%;
  margin: auto;
  background-color: #e0e0e0;
}

.down-wrapper {
  transform: translateY(-1000px);
  transition: transform 0.5s;
}

.down-wrapper-onclick {
  transform: translateY(0px);
  transition: transform 0.5s;
}

.load-list {
  width: 86%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.load-list li {
  width: 80%;
  margin: auto;
}

p {
  color: #6c6767;
  font-size: 25px;
}

.button {
  width: 100%;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

button {
  padding: 16px 22px;
  margin: 39px;
  background-color: #3bbec4;
  color: aliceblue;
  font-size: 25px;
  font-weight: 900;
  border: none;
  border-radius: 39px;
  letter-spacing: 1px;
  text-transform: capitalize;
}
/*=================================
  main styling ends here
=================================*/
